.footer {
  background-color: #2c1e1e; // dark brown/black tone
  padding: 8px 24px;
  color: #fff;
  font-size: 13px;
  border-top: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer *:not(input):not(textarea):not(button) {
  caret-color: transparent;
  user-select: none;
}
