<header class="header">
  <div class="logo" (click)="goToDashboard()">
    <mat-icon>menu_book</mat-icon>
    <span>Bookstore</span>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="fill" class="custom-search-field" hideRequiredMarker>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search ..." (input)="onSearchChange($event)" />
    </mat-form-field>
  </div>

  <div class="actions">
    <div class="profile-menu" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
      <span class="user-name">{{ userName }}</span>
    </div>
    <div class="cart-btn">
      <button mat-icon-button (click)="goToCart()">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
      </button>
    </div>
    
    <mat-menu #menu="matMenu" class="custom-profile-menu">
  <div class="profile-menu-wrapper">
    <p class="greeting">Hello {{ userName }},</p>
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="goToOrders()">
  <mat-icon>assignment</mat-icon>
  <span>My Orders</span>
</button>

    <button mat-menu-item (click)="goToWishlist()">
  <mat-icon>favorite</mat-icon>
  <span>My Wishlist</span>
</button>

    <button mat-menu-item class="logout-btn" (click)="logout()">
      Logout
    </button>
  </div>
</mat-menu>
  </div>
</header>
