<div [ngClass]="tabIndex === 1 ? 'auth-wrapper signup-mode' : 'auth-wrapper login-mode'">
  <div class="promo-card">
    <img src="assets/images/bookshopping.png" alt="Book Shopping" />
    <h3>ONLINE BOOK SHOPPING</h3>
  </div>

  <div class="auth-card">
    <mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="LOGIN">
        <ng-template matTabLabel>
      <span [ngClass]="{ 'active-tab': tabIndex === 0, 'inactive-tab': tabIndex !== 0 }">LOGIN</span>
    </ng-template>
        <ng-template matTabContent>
          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field appearance="fill">
              <mat-label>Email Id</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
    Email is required
  </mat-error>
  <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
    Enter a valid email address
  </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
               <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
    Password is required
  </mat-error>
            </mat-form-field>

            <a class="forgot-password" href="#">Forgot Password?</a>

            <button mat-raised-button class="login-btn" type="submit">Login</button>

            <div class="or-divider">OR</div>

            <div class="social-buttons">
              <button mat-raised-button color="primary">Facebook</button>
              <button mat-raised-button>Google</button>
            </div>
          </form>
        </ng-template>
      </mat-tab>

      <mat-tab label="SIGNUP">
         <ng-template matTabLabel>
      <span [ngClass]="{ 'active-tab': tabIndex === 1, 'inactive-tab': tabIndex !== 1 }">SIGNUP</span>
    </ng-template>
        <ng-template matTabContent>
          <form class="form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="fullName" />
              <mat-error *ngIf="signupForm.get('fullName')?.hasError('required')">
                Enter full name
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email Id</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                Enter a valid email address
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
                at least 6 characters
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="phoneNumber" />
              <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('required')">
                Mobile number is required
              </mat-error>
              <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('pattern')">
                Enter a valid mobile number
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" class="full-width" [disabled]="loading">
              Signup
            </button>
          </form>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
