<div class="pagination-wrapper" *ngIf="totalPages > 1">
  <button mat-icon-button (click)="prev()" [disabled]="currentPage === 1">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="pages">
    <button *ngFor="let page of pages"
            mat-button
            [class.active]="page === currentPage"
            (click)="goToPage(page)">
      {{ page }}
    </button>
  </div>

  <button mat-icon-button (click)="next()" [disabled]="currentPage === totalPages">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
